
<div class="w-screen h-screen overflow-hidden flex flex-no-wrap bg-theme-card" style="flex-direction: column;">
	<div class="w-full m-0 h-50"></div>

	<div class="w-full h-full overflow-hidden flex flex-no-wrap">
		<div class="h-full">
			<div class="h-full" style="width: 16rem;"></div>
      <app-sidebar />
		</div>

		<div class="w-full h-full pb-7 mt-[3.5rem]">
			<div class="w-full h-full overflow-auto border-1 border-solid border-theme-border rounded-sm bg-white shadow-sm">
				<router-outlet></router-outlet>

			</div>
		</div>
	</div>
</div>
